<main class="portfolio">
  <header class="intro">
    <div class="prof-pic-div">
      <%= image_tag "nolanprof.jpeg", class: "profile-img" %>
    </div>
    <h1 class="my-name">Nolan Borzoni</h1>
    <section class="about-me">
      <h2 class="about-me-text">About me</h2>
      <p>My name is Nolan and I am a full stack software developer.
        My best work is done with the Ruby on Rails framework using
        Ruby, Javascript, and Tailwind. I've conducted my learning
        primarily through  the Odin Project's 'Ruby on Rails' track.
        I currently live in Japan and am open to relocation anywhere
        within Japan or the United States. I am fluent in Japanese.
      </p>
      <div class="tech-stack">
        <img class="icons" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rails/rails-plain-wordmark.svg" />
        <img class="icons" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ruby/ruby-plain-wordmark.svg" />
        <img class="icons" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" />
        <img class="icons" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />
      </div>
    </section>
  </header>
 
  <section class="projects">
    <h2>My work</h2>
    <div class="project-sample">
      <div class="sample-top">screenshot of project</div>
      <div class="sample-bot">
        <div class="sample-bot-header">
          <h4>Project name</h4>
          <div class="project-icons">
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
          </div>
        </div>
        <div class="sample-bot-text">
          <p class="project-description">This is a concise description of the displayed project.
            It has about two lines of text.
          </p>
        </div>
      </div>
    </div>
    <div class="project-sample">
      <div class="sample-top">screenshot of project</div>
      <div class="sample-bot">
        <div class="sample-bot-header">
          <h4>Project name</h4>
          <div class="project-icons">
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
          </div>
        </div>
        <div class="sample-bot-text">
          <p class="project-description">This is a concise description of the displayed project.
            It has about two lines of text.
          </p>
        </div>
      </div>
    </div>
    <div class="project-sample">
      <div class="sample-top">screenshot of project</div>
      <div class="sample-bot">
        <div class="sample-bot-header">
          <h4>Project name</h4>
          <div class="project-icons">
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
          </div>
        </div>
        <div class="sample-bot-text">
          <p class="project-description">This is a concise description of the displayed project.
            It has about two lines of text.
          </p>
        </div>
      </div>
    </div>
    <div class="project-sample">
      <div class="sample-top">screenshot of project</div>
      <div class="sample-bot">
        <div class="sample-bot-header">
          <h4>Project name</h4>
          <div class="project-icons">
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
          </div>
        </div>
        <div class="sample-bot-text">
          <p class="project-description">This is a concise description of the displayed project.
            It has about two lines of text.
          </p>
        </div>
      </div>
    </div>
    <div class="project-sample">
      <div class="sample-top">screenshot of project</div>
      <div class="sample-bot">
        <div class="sample-bot-header">
          <h4>Project name</h4>
          <div class="project-icons">
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
          </div>
        </div>
        <div class="sample-bot-text">
          <p class="project-description">This is a concise description of the displayed project.
            It has about two lines of text.
          </p>
        </div>
      </div>
    </div>
    <div class="project-sample">
      <div class="sample-top">screenshot of project</div>
      <div class="sample-bot">
        <div class="sample-bot-header">
          <h4>Project name</h4>
          <div class="project-icons">
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
            <img class="project-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
          </div>
        </div>
        <div class="sample-bot-text">
          <p class="project-description">This is a concise description of the displayed project.
            It has about two lines of text.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="contact">
    <div class="contact-content">
      <h1>Contact me</h1>
      <p>Please get in touch if you think our work could be mutually beneficial!</p>
      <p class="address">1234 Random Road, <br>Random Town, California 12345</p>
      <div class="contact-info">
        <img class="contact-icon" src="assets/phone.svg" alt="Phone icon">
        <p>555-555-5555</p>
      </div>
      <div class="contact-info">
        <img class="contact-icon" src="assets/email.svg" alt="Email icon"">
        <p>not.a.real.email@gmail.com</p>
      </div>
      <div class="sns-icons">
        <img class="bot-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
        <img class="bot-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/twitter/twitter-original.svg" />
        <img class="bot-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
      </div>
    </div>
    
    
    <%= image_tag "nolanbot.jpeg", class: "bot-profile-img" %>
    
  </div>
</main>
          