body {
  font-family: 'Roboto', sans-serif;
}
.my-name, .about-me-text {
  font-family: 'Playfair Display', serif;
}
/* mobile layout default stuff */

.profile-img {
  justify-content: center;
  width: 300px;
  height: auto;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
}

.about-me-text {
  margin: 0;
}

.about-me p {
  text-align: left;
  padding: 0 10px;
}
.about-me {
  margin-top: 0;
  padding: 0;
  text-align: center;
  align-items: center;
}
.program-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;

}
.icons {
  max-height: 30px;
  max-width: 30px;
}
.bot-icon {
  max-height: 30px;
  max-width: 30px;
}

.middle-content h2 {
  margin: 0;
  padding: 0;
  text-align: left;
  max-width: 300px;
  margin: 0 auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 2rem;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.project-sample {
  height: 350px;
  width: 300px;
  background-color:antiquewhite;
  border: black 2px dotted;
}

.project-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.project-icon {
  height: 30px;
  width: auto;
}

.project-description {
  margin-top: 0;
}

.sample-top {
  width: 300px;
  height: 200px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sample-bot-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.sample-bot-text p {
  padding: 10px;
}

.contact-sections {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
}
.contact-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.sns-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.bot-profile-img {
  width: 300px;
  height: auto;
}

.contact {
  text-align: left;
  padding: 1rem;
}